.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Cockpit button {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 10px;
  cursor: pointer;
}

/* :hover is a pseudo selector, meaning a selector based off of another selector */
.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
}

.Cockpit button.Red {
  background-color: Red;
}

.Cockpit button.red:hover {
  background-color: salmon;
}
