.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Button {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 10px;
  cursor: pointer;
}

/* :hover is a pseudo selector, meaning a selector based off of another selector */
.Button:hover {
  background-color: lightgreen;
  color: black;
}

.Button.Red {
  background-color: Red;
}

.Button.Red:hover {
  background-color: salmon;
}
